      .clear {
        clear:both;
      }

      @font-face{font-family:'TheSerifOffice';font-weight:normal;font-style:normal;src:url('http://s1.lemde.fr/medias/web/font/svg/TheSerifOffice-OT7_West.svgz#TheSerifOffice') format('svg');src:url('http://s1.lemde.fr/medias/web/font/eot/TheSerifOffice-TT7_.eot');src:url('http://s1.lemde.fr/medias/web/font/eot/TheSerifOffice-TT7_.eot?#iefix') format('embedded-opentype'),url('http://s1.lemde.fr/medias/web/font/woff/TheSerifOffice-TT7_.woff') format('woff');font-weight:normal;font-style:normal}

/*
      .container {
        width:1000px;
        padding:0px 0px;
        margin:0px auto;
        position:relative;
        background: #fff;
      }*/

      #bloc1 {
          top:20px;
          position: relative;
        }

         .graphe {
    position: relative;
    padding:10px 0 10px 0;
  }
  .graphe p {
    text-align: left;
    font-size:10pt;
  }
  .graphe .source {
    text-align: center;
    font-size:10pt;
    color: #747B83;
  font-family: Georgia;
}

.graphe .notule {
  font-family: Georgia;
}

  p.bouton {
    text-align: center;
  }

  .bouton p {
    margin:0;
  }

.menu_ancre {
  border-top: 3px solid #16212c!important;
  padding:0 10px;
  margin-top:15px!important;
}


.highcharts-tooltip {
    font-family:"arial, sans-serif";
}

.highcharts-tooltip h2 {
    font-size:12pt;
    margin:0 0 5px 0;
    text-align: center;
    font-family: 'TheSerifOffice',arial,sans-serif;
}
.highcharts-tooltip p {
    margin:0;
    font-size:10pt;
    
}
.highcharts-tooltip big {
    font-size:10pt;
    color:#333;
    font-weight:bold!important;
}
.highcharts-tooltip span {
    width:180px;
    height:auto;
    overflow:auto;
    white-space:normal!important;
}
.btn {
display: inline-block;
padding: 4px 10px 4px;
margin-bottom: 0;
color: #000b15;
text-align: center;
font-weight: bold;
vertical-align: middle;
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top,#fff,#e4e6e9);
background-image: -ms-linear-gradient(top,#fff,#e4e6e9);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e4e6e9));
background-image: -webkit-linear-gradient(top,#fff,#e4e6e9);
background-image: -o-linear-gradient(top,#fff,#e4e6e9);
background-image: linear-gradient(top,#fff,#e4e6e9);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e4e6e9',GradientType=0);
border-color: #e4e6e9 #e4e6e9 #bfbfbf;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
border: 1px solid #ccc;
border-bottom-color: #b3b3b3;
border-radius: 4px;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
cursor: pointer;
font-size: 15px;
font-family: arial, sans-serif;
}
.btn_fonce{display:inline-block;padding:4px 10px 4px;margin-bottom:0;color:#000b15;text-align:center;font-weight:bold;vertical-align:middle;background-color:#f5f5f5;background-image:-moz-linear-gradient(top,#fff,#e4e6e9);background-image:-ms-linear-gradient(top,#fff,#e4e6e9);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e4e6e9));background-image:-webkit-linear-gradient(top,#fff,#e4e6e9);background-image:-o-linear-gradient(top,#fff,#e4e6e9);background-image:linear-gradient(top,#fff,#e4e6e9);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e4e6e9',GradientType=0);border-color:#e4e6e9 #e4e6e9 #bfbfbf;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false);border:1px solid #ccc;border-bottom-color:#b3b3b3;border-radius:4px;box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);cursor:pointer;
font-size: 15px;
font-family: arial, sans-serif;
}
.btn:hover{
    text-decoration:none;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-ms-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear;
color:#2e3942;background-color:#e4e6e9;
}


.btn_fonce,.bt_fonce a{color:#fff;background-color:#000b15;background-image:-moz-linear-gradient(top,#5d666d,#000b15);background-image:-ms-linear-gradient(top,#5d666d,#000b15);background-image:-webkit-gradient(linear,0 0,0 100%,from(#5d666d),to(#000b15));background-image:-webkit-linear-gradient(top,#5d666d,#000b15);background-image:-o-linear-gradient(top,#5d666d,#000b15);background-image:linear-gradient(top,#5d666d,#000b15);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5d666d',endColorstr='#000b15',GradientType=0);border-color:#000b15;border-color:rgba(0,0,0,0.1);filter:progid:dximagetransform.microsoft.gradient(enabled=false)
}
.btn_fonce:hover{text-decoration:none;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-ms-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}
.btn_fonce:hover,.btn_fonce:active,.btn_fonce.active,.btn_fonce.disabled,.btn_fonce[disabled]{color:#fff;background-color:#000b15}
.btn_fonce:active{background-image:none;box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);outline:0}
.btn_fonce:active{background-color:#000b15}

div.classement-villes  {
  width:23%;
  padding:0 1% 0 0;
  margin: 0 0 15px 30px!important;
  float:left;
}

div.classement-villes ol  {
  margin:0!important;
}

.classement-villes li {
  padding:0 0 0 6px;
  border-left:8px solid;
  cursor:pointer;
}

.classement-villes li.ps {
  border-left-color:#d41066;
}
.classement-villes li.ump {
  border-left-color:#2c59a8;
}
.classement-villes li.frontdegauche {
  border-left-color:#b50b11;
}
.classement-villes li.udi {
  border-left-color:#5bc1f4;
}
.classement-villes li.eelv {
  border-left-color:#608a32;
}

.article img {
  width: 424px;
}

.article .legendeimg {
  width: 424px;
  border-bottom:1px solid #747B83;
  padding-bottom:15px;
  color: #747B83;
  font-family: Georgia;
}

.lettrine p {
  text-align: center;
  margin-top: 70px!important;
}
.lettrine img {
  width:120px;
  border:none;
}
.lettrine a, .signature a {
  border:none!important;
}


#data {
          font-weight: bold;
          padding: 0;
          text-align:center;
          margin:0!important;
        }
        #data span {
          background: url('http://s1.lemde.fr/medias/web/d046629438b18715f94c4d85542ca8a7/img/sprites/sprite.png') no-repeat;
          display: inline-block;
          background-position: 0px -131px;
          text-indent: -9999px;
          width: 13px;
          height:10px;
          margin-right: 5px;
        }
